$orange-color:#FF7426;
$fire-brick-color: #B11722;
$purple-color:#4D2C5E;
$dark-color: #050C26;
$dark-almond-color: #FAEECD;
$floralwhite-color: #FDF8EE;
$whitesmoke-color: #F7F9FA;
$tomato-color: #FF6652;
$light-purple-color:#9C4DF4;
$light-cream-color: #DEDDE4;
$wightcolor: #FFFFFF;
