@import "../../../../assets/scss/colors";

.hero-section {
  background-color: $floralwhite-color;
  padding-bottom: 100px;
  background-image: url("../../../../assets/images/home/background-icons.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  position: relative;
  .circle{
    position: absolute;
    top: 100px;
    right: 200px;
    img{
      width: 200px;
    }
  }

  .container {
    .hero-content {

      background-repeat: no-repeat;
      background-position: 100% 100%;
      background-size: 50%;
      .left-part {
        img {
          width: 100%;
          height: 100%;
        }
      }

      .right-part {
        background-image: url("../../../../assets/images/home/circle.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: center;
        h1 {
          font-weight: 700 !important;
          line-height: 1.4 !important;
          text-align: start;
          font-size: 38px;
          .learn{
            color: #FF7426;
          }
          .aquire{
            color: #B11722;
          }
          .advance,.excel{
            color: #4D2C5E;
          }
          @media (max-width:450px) {
            &{
              font-size: 27px;
            }
          }
        }

        p {
          font-weight: 400;
          font-size: 17px;
          line-height: 1.5;
          text-align: start;
          color: #000000;
        }
      }
    }
  }
}
