<div class="hero-section ">

  <div class="container col-xxl-12 px-4 py-5">
    <div class=" row flex-lg-row-reverse align-items-center justify-content-center g-5 py-5 hero-content">
      <div class="col-10 col-sm-8 col-lg-6 left-part">
        <img src="assets/images/home/objects.png" class="d-block mx-lg-auto img-fluid" alt="Hero Image"
          loading="lazy">
      </div>
      <div class="col-lg-6 right-part">
        <h1 class="display-5 fw-bold lh-1 mb-3">تعلم، اكتسب، تقدم بالعربية وتفوق بمهاراتك</h1>
        <p class="lead">"مع منصتنا، لا حدود لما يمكنك تعلمه بلغتك الأم، العربية. فنحن نمنحك القدرة على اتقان مهارات جديدة
          في مجال التكنولوجيا.
          انطلق في رحلتك التعليمية بثقة، مع الوعد بأن اللغة لن تكون عائقًا أبدًا أمام نجاحك."</p>

      </div>
    </div>
  </div>
</div>
