<section class="hero-section ">
  <!-- <div class="circle">
    <img src="assets/images/home/circle.png" alt="">
  </div> -->
  <div class="container col-xl-12  py-5">
    <div class=" row flex-lg-row-reverse align-items-center justify-content-center py-5 hero-content">
      <div class="col-10 col-sm-8 col-lg-6 left-part">
        <img src="assets/images/home/objects.png" class="d-block mx-lg-auto img-fluid" alt="Hero Image"
          loading="lazy">
      </div>
      <div class="col-lg-6 right-part mt-5">
        <h1 class=" fw-bold lh-1 mb-3">
          <span class="learn">{{"LEARN" | translate}}</span>{{"COMMA" | translate}}
          <span class="aquire">{{"AQUIRE" | translate}}</span>{{"COMMA" | translate}}
          <span class="advance">{{"ADVANCE" | translate}}</span><br>
          <span class="inarabic">{{"IN_ARABIC" | translate}}</span>
          <span class="excel">{{"EXCEL" | translate}}</span>
          <span class="skills">{{"SKILLS" | translate}}</span>
        </h1>
        <p class="lead">{{"DESCRIPTION" | translate}}</p>

      </div>
    </div>
  </div>
</section>
