<div class="container features-with-us pb-4">
  <div class="row">
    <div class="feature-title d-flex align-items-center justify-content-center" >
      <h3 class="text-center text-black m-0"> {{"ADVANTAGES_OF_LRAAEN" | translate}}</h3>
      <span>
        <img src="assets/images/home/lamp-icon.svg"  alt="lamp-icon" loading="lazy"/>
      </span>

    </div>
  </div>
</div>

<section class="features">
  <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 mb-3 p-0">
           <div class="item mb-3">
            <div class="item-image">
              <img src="assets/images/home/hearts 6.svg" alt="" />
            </div>
            <div class="item-content">
              <h4>{{"SPECIALIZED_CONTENT" |translate}}</h4>
              <p> {{"SPECIALIZED_CONTENT_DESC1" |translate}} </p>
            </div>
           </div>
           <div class="item mb-3">
            <div class="item-image">
              <img src="assets/images/home/hearts 6.svg" alt="" />
            </div>
            <div class="item-content">
              <h4>{{"SPECIALIZED_CONTENT" |translate}}</h4>
              <p> {{"SPECIALIZED_CONTENT_DESC2" |translate}} </p>

            </div>
           </div>
           <div class="item mb-3">
            <div class="item-image">
              <img src="assets/images/home/hearts 6.svg" alt="" />
            </div>
            <div class="item-content">
              <h4>{{"FLEXIBILITY" |translate}}</h4>
              <p>{{"FLEXIBILITY_DESC" |translate}}</p>
            </div>
           </div>
        </div>
        <div class="col-lg-6 col-12 d-flex justify-content-center figureImage">
          <img
            src="assets/images/home/objects2.png"
            alt="Features Image"
            class=" featImage"
          />
        </div>

      </div>
  </div>
</section>


<!-- <section class="features mt-5">

  <div class="container">

    <div class="row features-content d-flex align-items-center justify-content-center">
      <div class="col-lg-6 col-12 figureImage">
        <img
          src="../../../assets/images/home/objects2.png"
          alt="Features Image"
          class="img-fluid featImage"
        />
      </div>

      <div class="col col-lg-6 d-flex flex-column justify-content-center feat-listItems">
        <div class="row d-flex align-items-center justify-content-center feat-item" >
          <div class="col feat-item" >
            <h6>محتوى متخصص</h6>
            <p>
              مما يجعل عملية التعلم أكثر سهولة وفعالية. سواء كنت مبتدئًا أو
              <br />
              محترفًا، ستجد الموارد والدعم اللازمين لتحقيق أهدافك التعليمية.
            </p>
          </div>
          <div class="col-2 feat-img p-2" style="height: 70px; width: 70px">
            <img src="../../../assets/images/home/hearts 6.svg" alt="" />
          </div>
        </div>
        <div class="row d-flex align-items-center justify-content-center feat-item">
          <div class="col feat-item">
            <h6>محتوى متخصص</h6>
            <p>
              تقدم منصتنا مجموعة واسعة من الدورات التعليمية في كل ما <br />
              يخص التكنولوجيا
            </p>
          </div>
          <div class="col-2 feat-img p-2" style="height: 70px; width: 70px">
            <img src="../../../assets/images/home/hearts 6.svg" alt="" />
          </div>
        </div>
        <div class="row d-flex align-items-center justify-content-center feat-item">
          <div class="col feat-item">
            <h6>محتوى متخصص</h6>
            <p>
              يمكنك الوصول إلى المواد التعليمية في أي وقت ومن أي مكان يناسبك.
              <br />
              لا حاجة للالتزام بجداول زمنية محددة
            </p>
          </div>
          <div class="col-2 feat-img p-2" style="height: 70px; width: 70px">
            <img src="../../../assets/images/home/hearts 6.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
