<footer class="footer">
  <div class="container">
    <div class="row">



      <div class="col-lg-4 col-6 d-flex justify-content-center">
        <div class="footer-details  ">
          <h4 class="link-head">{{"SUPPORT" |translate}} </h4>
          <ul >
            <li ><a href="#" class="text-decoration-none">{{"POLICY" |translate}}</a> </li>
            <li ><a href="#" class="text-decoration-none">{{"Q_A" |translate}}</a></li>
            <li ><a href="#" class="text-decoration-none"> {{"CONTACTUS" |translate}}</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-6 d-flex justify-content-center">
        <div class="footer-details  ">
          <h4 class="link-head">{{"ABOUT_COMPANY" |translate}}</h4>
          <ul >
            <li ><a href="#" class="text-decoration-none">{{"WHO_WE_ARE" |translate}}</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-6 d-flex justify-content-center">
        <div class="social-details">
          <a class="d-flex align-items-center justify-content-start text-decoration-none gap-2" routerLink="">
            <img class="logo-img" src="../../../assets/images/footer/b-logo.svg" alt="">
            <span class="logo-text">{{"IT" |translate}}</span>
          </a>
          <ul class="social">

            <li>
              <ul class="card-social d-flex justify-content-center p-0 w-100">
                <li><a href="https://www.facebook.com" target="_blank" class="icon-link">
                  <i class='bx bxl-facebook'></i>
                </a></li>
                <li><a href="https://www.instagram.com" target="_blank" class="icon-link">
                  <i class='bx bxl-instagram'></i>
                </a></li>
                <li><a href="https://twitter.com" target="_blank" class="icon-link">
                  <i class='bx bxl-twitter'></i>
                </a></li>
                <li><a href="https://linkedin.com" target="_blank" class="icon-link">
                  <i class='bx bxl-linkedin'></i>
                </a></li>



              </ul>
            </li>
          </ul>
        </div>

      </div>
      <hr class="m-0">
      <div class="col-12 copy-write  d-flex flex-column align-items-center">

        <p class="Copyright">{{"COPYRIGHT" |translate}} </p>
      </div>


    </div>
  </div>
</footer>
