
 <section class="benefits pb-4">
  <div class="container ">
      <div class="row benifit-box ">
          <div class="col-lg-4 col-md-6 col-12 benifit_item mb-3 p-0">
              <div class="img-part">
                <img src="assets/images/home/ben-1.svg" alt="" loading="lazy" />
              </div>
              <div class="benifit-content text-white ">
                <h4>{{"GET_CERTIFICATE" | translate}}</h4>
                <p>{{"WE_OFFER" | translate}}</p>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12 benifit_item mb-3 p-0">
              <div class="img-part">
              <img src="assets/images/home/ben-2.svg" alt="" loading="lazy" />
            </div>
            <div class="benifit-content text-white ">
              <h4>{{"LEARN_LATEST_SKILLS" |translate}}</h4>
              <p> {{"LEARN_FROM_EXPERTS" |translate}} </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12 benifit_item mb-3 p-0">
              <div class="img-part">
              <img src="assets/images/home/ben-3.svg" alt="" loading="lazy" />
            </div>
            <div class="benifit-content text-white ">
              <h4>{{"BE_READY" |translate}}</h4>
              <p> {{"HELP_YOUSELF" |translate}} </p>
            </div>
          </div>
      </div>
  </div>
</section>








<!--
<div class="benfites bg-light">
  <div class="container d-flex flex-column gap-5">
    <div class="row benifit-box">
      <div class="col-lg-4">
        <div class="benifit_item row">
          <div class="img-part col-3">
            <img src="../../../assets/images/home/ben-1.svg" alt="" />
          </div>
          <div class="benifit-content col-9 text-white">
            <h4>أحصل علي شهاده</h4>
            <p>
              نقدم لك دورات متنوعة في مجال التكنولوجيا مع فرص الحصول على شهادات
              معتمدة تعكس مهاراتك ومعرفتك
            </p>
          </div>

        </div>
      </div>
      <div class="col-lg-4">
        <div class="benifit_item row">
          <div class="benifit-content col-9 text-white">
            <h4>تعلم أحدث المهارات</h4>
            <p>
              تعلم من خبراء مجالك واكتسب المهارات العملية التي تحتاجها للتميز في
              سوق العمل اليومي المتطور
            </p>
          </div>
          <div class="img-part col-3">
            <img src="../../../assets/images/home/ben-2.svg" alt="" />
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="benifit_item row">
          <div class="benifit-content col-9 text-white">
            <h4>كن مستعدًا للوظيفة</h4>
            <p>
              ساعد نفسك على الاستعداد الكامل لسوق العمل من خلال دورات تطوير
              المهارات الشخصية وورش العمل
            </p>
          </div>
          <div class="img-part col-3">
            <img src="../../../assets/images/home/ben-3.svg" alt="" />
          </div>
        </div>
      </div>

    </div>
<div
      class="feature-title d-flex align-items-center justify-content-center pb-5"
    >
      <span>
        <img
          src="../../../assets/images/home/lamp-icon.svg"
          alt="lamp-icon"
          style="
            transform: rotate(-12deg);
            width: 60px;
            height: 60px;

          "
      /></span>
      <h3
        class="text-center text-black mb-4"
        style="
          font-weight: 800;
          font-size: 69px;
          line-height: 115%;
          color: #050c26;">
        مميزات تعلمك معنا
      </h3>
    </div>

  </div>
</div> -->
