<nav class="navbar navbar-expand-lg sticky-top w-100">
  <div class="container-fluid nav-container">
  <!-- Logo  -->
  <a class="navbar-brand m-0" routerLink="">
    <img src="assets/images/auth/auth-logo.png" class="align-text-center" alt="Logo-Image" />
    <span class="nav-title">{{"IT" |translate}}</span>
  </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav  mb-2 mb-lg-0 align-items-center">


        <!-- <li class="nav-item mx-2 switch-item">
          <div class="dropdown">
            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              <img [src]="defaultLanguageFlag" alt="Flag"  style="width: 25px; height: 25px;">
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li class="d-flex justify-content-center">
                  <a class="dropdown-item" href="javascript:void(0)" (click)="switchLanguage('ar', 'assets/images/flags/Saudi-flag.svg')">
                    <img src="assets/images/flags/Saudi-flag.svg" alt="Saudi Flag" class="flag-img">
                  </a>
               </li>
              <li class="d-flex justify-content-center">
                  <a class="dropdown-item" href="javascript:void(0)" (click)="switchLanguage('en', 'assets/images/flags/united_kingdom_flag.png')">
                   <img src="assets/images/flags/united_kingdom_flag.png" alt="UK Flag" class="flag-img">
                  </a>
              </li>

            </ul>
          </div>
        </li> -->
        <li class="nav-item mx-2">
          <a class="nav-link "  routerLink="">{{"STUDENT" | translate}}</a>
        </li>
        <li  class="nav-item">
          <app-user-profile></app-user-profile>
        </li>
      </ul>

    </div>
  </div>
</nav>
