<div class="subscribe py-5 ">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12 py-5">
        <h1 class="text-center text-align-start text-white"> {{"SUBSCRIBE_TO_OUR_MAILING" | translate}}</h1>
        <p class="text-center text-white text-align-start">{{"STAY_UP_TO_DATE" |translate}}</p>
        <div class="input-wrapper d-flex justify-content-center align-items-center ">
          <form action="">
            <input type="text" class="form-control rounded-pill" [placeholder]="'EMAIL' | translate">
            <button class="btn btn-primary rounded-pill">{{"SUBSCRIBE" | translate}}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
