<div class="row justify-content-center">
 <div class="col-11 mt-3 mb-3 p-0">
    <div class="box">
      <div class="title">
        <p>{{"EVERY_THING_AS_TEACHER" |translate}}</p>
      </div>
      <div class="box-img">
        <img src="assets/images/teacher/specific-img.png" loading="lazy" alt="">
      </div>
    </div>
    <div class="box create-course" style="margin-top: 5rem;">
      <div class="title">
        <p>{{"DO_YOU_WANT_CREATE_NEW_COURSE" |translate}}</p>
      </div>
      <div class="box-button">
        <button class="create-btn">{{"CREATE_NEW_COURSE" |translate}}</button>
      </div>
    </div>
    <div class="join">
      <h1 class="mb-0">{{"JOIN" |translate}}</h1>
      <!-- <div class="intriduce">
        <img src="assets/images/teacher/Video.png" class="w-100" loading="lazy" alt="">
      </div> -->
      <div class="vedio-container h-100">
        <video class="vedio-elemnt" controls poster="assets/images/teacher/Video.png" >
          <source src="assets/vedio/UniMates-update.mp4" type="video/mp4">
        </video>
      </div>
    </div>
    <div class=" success-section">
      <h1 class="to-be-success">{{"TO_BE_SUCCESS" |translate}}</h1>
      <div class="box create-course attractive ">
        <div class="title">
          <p class="details mb-0">{{"IMPORTANT" |translate}}</p>
        </div>
        <div class="box-button">
          <button class="create-btn">{{"ATTRACTIVE_COURSE" |translate}}</button>
        </div>
      </div>
    </div>

 </div>
</div>
