@import "../../../../../assets/scss/colors";

// Course Lessons & videos Section
.course-lessons-section {
  .container {
    background-color: #f7f9fa;
    padding-top: 20px;

    .left_content {
      .video-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        .video-element {
          border-radius: 10px;
        }
        h4 {
          color: #000000;
          font-size: 1.25rem;
        }
      }
    }

    .right_content {
      .course-lesson-details {
        h3 {
          color: $purple-color;
          font-size: 1.25rem;
        }
        .lesson-item {
          padding: 0.5rem;
          .lesson-info {
            h5 {
              color: $purple-color;
              font-size: 1.15rem;
            }
            small {
              color: $tomato-color;
            }
          }
          &:hover,
          &:active {
            cursor: pointer;
            box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3);
          }
        }
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .course-lessons-section {
    .container {
      .course-lessons {
        flex-direction: column;

        .left_content {
          width: 100%;
          .video-container {
            width: 100%;
            h4 {
              font-size: 1.25rem;
            }
          }
        }
        .right_content {
          width: 100%;
          .course-lesson-details {
            h3 {
              font-size: 1.25rem;
            }
            .lesson-item {
              .lesson-info {
                h5 {
                  font-size: 1.15rem;
                }
                small {
                  font-size: 0.75rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

// Course Details Section
.course-details-section {
  .container {
    .course-left-desc {
      .course-detailss-left {
        h3 {
          color: $purple-color;
          font-size: 1.25rem;
        }
        p {
          color: #5d5a6f;
          font-size: 1rem;
          line-height: 1.25;
        }
      }
      .who-course-for {
        h3 {
          color: $purple-color;
          font-size: 1.25rem;
        }
        p {
          color: #5d5a6f;
          font-size: 1rem;
          line-height: 1.25;
        }
      }
      .what-will-be-taught {
        h3 {
          color: $purple-color;
          font-size: 1.25rem;
        }
        ul {
          color: $purple-color;
          font-size: 1rem;
          font-weight: 300;
        }
        li {
          line-height: 1.25;
        }
        ul li::marker {
          color: $tomato-color;
        }
      }
      .course-descc {
        h3 {
          color: $purple-color;
          font-size: 1.25rem;
        }
        p {
          color: #5d5a6f;
          font-size: 1rem;
          line-height: 1.25;
        }
      }
    }
    .course-detailss-right {
      .course-overview-info {
        margin-top: 1rem;
        border-radius: 10px;
        background-color: white;
        .check-out-table {
          border-radius: 10px;
          border-collapse: collapse;
          th,
          td {
            padding: 1rem;
            color: #5d5a6f;
            text-align: left;
            border: none;
            font-size: 1rem;
            line-height: 1.25;
            text-align: end;
          }
          th {
            text-align: start;
            color: #0a033c;
            font-weight: 400;
          }
        }
      }
      .payment-btn {
        background-color: $purple-color;
        color: #ffffff;
        padding: 1rem;
      }
      .add-cart-btn {
        background-color: $tomato-color;
        color: #ffffff;
        padding: 1rem;
      }
    }
  }
}

//similar courses section
.similar-courses-section {
  .container {
    h3 {
      color: $purple-color;
      font-size: 1.25rem;
    }
    .course-item {
      display: flex;
      border-radius: 10px;
      margin: 0.5rem 0;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      position: relative;
      .img-part {
        img {
          padding: 0.5rem 0.5rem 0.5rem 0;
        }
      }
      & {
        @media screen and (max-width: 480px) {
          .img-part {
            display: none;
          }
        }
      }
      .course-card-content {
        padding: 1rem;
        h3 {
          font-size: 1rem;
        }
        small {
          font-size: 0.75rem;
        }
        .cart-icon {
          position: absolute;
          left: 20px;
          bottom: 20px;
          cursor: pointer;
          &:hover {
            background-color: $light-purple-color;
          }
        }
      }
    }
  }
}

//Subscribe Section
.subscribe {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  .container {
    position: relative;
    background-color: $purple-color;
    border-radius: 14px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 20px;

    h1 {
      color: $floralwhite-color;
      font-weight: 500;
      font-size: 22px;
      line-height: 144%;
      letter-spacing: 0.02em;
    }

    p {
      color: $floralwhite-color;
      font-weight: 500;
      font-size: 15px;
      color: $wightcolor;
    }
    .input-wrapper {
      position: relative;
      margin: 15px 3rem 0 3rem;
      form {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        button {
          position: absolute;
          right: 3px;
          top: 3px;
          background-color: $orange-color;
          border: none;
          color: $wightcolor;
          padding: 6px 26px;
          font-size: 13px;
        }

        input {
          width: 100%;
          font-weight: 500;
          font-size: 14px;
          line-height: 144%;
          letter-spacing: 0.02em;
          color: #8a8a8a;
          padding: 9px 20px;
          border: none;
        }
      }
      &::after {
        content: "";
        position: absolute;
        width: 85px;
        height: 80px;
        background-image: url("../../../../../assets/images/home/lamp2.png");
        background-size: cover;
        background-repeat: no-repeat;
        top: -10px;
        left: 0;
      }
      @media (max-width: 767px) {
        & {
          margin: 15px 0 0;
        }
        form {
          width: 100%;
        }
        &::after {
          display: none;
        }
      }
    }
  }
}
