
@import "../colors";
html[dir="rtl"] {
 /* benefit page in home module */
 .benifit_item{
  .img-part{
    margin-left: 13px;
  }
}
 /* features page in home module */
.features-with-us{
  .feature-title{
    &::after {
      content: "";
      position: absolute;
      width: 100px;
      height: 90px;
      background-image: url("../../../assets/images/home/arrow.svg");
      background-size: cover;
      background-repeat: no-repeat;
      top: -10px;
      right: 0;
      transform: rotateY(0) !important;
      -webkit-transform: rotateY(0) !important;
      -moz-transform: rotateY(0) !important;
      -ms-transform: rotateY(0) !important;
      -o-transform: rotateY(0) !important;
}
  }

}
 /* subscripe page in home module */
 .input-wrapper {
  position: relative;
  form {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        button {
          position: absolute;
          //left: 3px;
          right: calc(100% - 89px) !important;
          top: 3px;
        }
  }
    &::after {
      content: "";
      position: absolute;
      width: 85px;
      height: 80px;
      background-image: url("../../../assets/images/home/lamp2.png");
      background-size: cover;
      background-repeat: no-repeat;
      top: -10px;
      right: 0;
  }
  @media (max-width:767px) {
    &::after {
      display: none;
    }
  }
}

 /* login && signUp page in auth module */
 .input-icon-email{
  input{
    text-indent: 25px !important;
  }
  &::after {
    content: url("../../../assets/images/auth/email.png");
    position: absolute;
    right: 24px; /* Adjust the icon position */
    top: 53%;
    transform: translateY(-50%);
    z-index: 999;
    width: 17px;
  }
 }
 .g-login {
  img{
    position:absolute;
    top: 2px;
    right: 3px;
  }
}

 /* user profile page in teacher module */
 @media (min-width:991px) {
  .dropdown-menu{
    left: 0 !important;
   right: unset !important;
  }
}
.notifications{
  .bx-bell{
    font-size: 30px;
    color: black;
  }
  .notification-menu{
    position: absolute !important;
    width: 348px;
    transform: translate3d(-58px, 32px, 0px) !important;
    -webkit-transform: translate3d(-58px, 32px, 0px) !important;
    -moz-transform: translate3d(-58px, 32px, 0px) !important;
    -ms-transform: translate3d(-58px, 32px, 0px) !important;
    -o-transform: translate3d(-58px, 32px, 0px) !important;
    inset: 0px auto auto 0px !important;
    margin: 0px !important;
    left: 0 !important;

    margin: 0px !important;
    // @media (max-width:420px) {
    //   &{
    //     inset: unset !important;
    //     right: 0 !important;
    //   }
    // }
}

}



 /* content creation page in teacher cources module */

.accordion-button::after {
  position: absolute;
  left: 20px;
}
 /* course card page in  cources module */
 .course-image{
  position: relative;
  .book-mark{
    font-size: 40px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }
 }
 .button-search{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0.375rem !important;
  border-bottom-right-radius: 0.375rem !important;
 }
 .input-search{
  border-top-left-radius: 0.375rem !important;
  border-bottom-left-radius: 0.375rem !important;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
 }
 .form-floating>label{
  right: -60px;
 }


 /* course details contnet  page in  cources module */

 .what-will-be-taught {
  h3 {
    color: $purple-color;
    font-size: 1.25rem;
  }
  ul {
    color: $purple-color;
    font-size: 1rem;
    font-weight: 300;
    padding-inline-start: 20px;
    list-style-type: none;
  }
  li {
    line-height: 1.25;
    position: relative;
  }
  li::before {
    content: '';
    position: absolute;
    right: -20px;
    top: 50%;
    width: 10px;
    height: 10px;
    background-color:  $tomato-color;
    border-radius: 50%;
    transform: translateY(-50%);
}
  ul li::marker {
    color: $tomato-color;
  }
}


 /* course details similiar  page in  cources module */

.price{
  position: relative;
  .dollar{
   color: $tomato-color;
   font-size: 15px;
   font-weight: 500;

  }
  .bookmark{
    position: absolute;
    left: 0;
    right: unset !important;
    top: -20px;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    background-color: #F8F2FF;

      @media (max-width:767px) {
        &{
          top:-30px !important
        }
      }



    .bx{
      padding: 15px;
      color: $light-purple-color;
      font-size: 25px;

    }
    @media (min-width:768px) and (max-width:991px) {
      &{
        top: -5px;
        .bx{
          padding: 10px;
        }

      }
    }
  }
}

 /* cart  page in  cources module */
.apply-btn{
  margin-right:  1rem;
  margin-left: 0;
}





}
