
@import "../colors";
html[dir="rtl"] {
 /* benefit page in home module */
 .benifit_item{
  .img-part{
    margin-left: 13px;
  }
}
 /* features page in home module */
.features-with-us{
  .feature-title{
    &::after {
      content: "";
      position: absolute;
      width: 100px;
      height: 90px;
      background-image: url("../../../assets/images/home/arrow.svg");
      background-size: cover;
      background-repeat: no-repeat;
      top: -10px;
      right: 0;
      transform: rotateY(0) !important;
      -webkit-transform: rotateY(0) !important;
      -moz-transform: rotateY(0) !important;
      -ms-transform: rotateY(0) !important;
      -o-transform: rotateY(0) !important;
}
  }

}
 /* subscripe page in home module */
 .input-wrapper {
  position: relative;
  form {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        button {
          position: absolute;
          //left: 3px;
          right: calc(100% - 89px) !important;
          top: 3px;
        }
  }
    &::after {
      content: "";
      position: absolute;
      width: 85px;
      height: 80px;
      background-image: url("../../../assets/images/home/lamp2.png");
      background-size: cover;
      background-repeat: no-repeat;
      top: -10px;
      right: 0;
  }
  @media (max-width:767px) {
    &::after {
      display: none;
    }
  }
}

 /* login && signUp page in auth module */
 .input-icon-email{
  input{
    text-indent: 25px !important;
  }
  &::after {
    content: url("../../../assets/images/auth/email.png");
    position: absolute;
    right: 24px; /* Adjust the icon position */
    top: 53%;
    transform: translateY(-50%);
    z-index: 999;
    width: 17px;
  }
 }
 .g-login {
  img{
    position:absolute;
    top: 2px;
    right: 3px;
  }
}

 /* user profile page in teacher module */
 @media (min-width:991px) {
  .dropdown-menu{
    left: 0 !important;
   right: unset !important;
  }
}
.notifications{
  .bx-bell{
    font-size: 30px;
    color: black;
  }
  .notification-menu{
    position: absolute !important;
    width: 348px;
    transform: translate3d(-58px, 32px, 0px) !important;
    -webkit-transform: translate3d(-58px, 32px, 0px) !important;
    -moz-transform: translate3d(-58px, 32px, 0px) !important;
    -ms-transform: translate3d(-58px, 32px, 0px) !important;
    -o-transform: translate3d(-58px, 32px, 0px) !important;
    inset: 0px auto auto 0px !important;
    margin: 0px !important;
    left: 0 !important;

    margin: 0px !important;
    // @media (max-width:420px) {
    //   &{
    //     inset: unset !important;
    //     right: 0 !important;
    //   }
    // }
}

}
}

